<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senai.sc.taskmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ListaTarefas"
            android:label="@string/title_activity_lista_tarefas" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroTarefa"
            android:label="@string/title_activity_cadastro_tarefa" >
        </activity>

        <receiver android:name=".AlarmNotificacaoReceiver" >
            <intent-filter>
                <action android:name="ALARME_NOTIFICACAO_TAREFA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".AlarmRemoverTarefaReceiver" >
            <intent-filter>
                <action android:name="REMOVER_TAREFA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>